[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
torchvision = "*"
pillow = "*"
tqdm = "*"
opencv-python = "*"
shapely = "*"
wandb = "*"
pylev = "*"
torch-geometric = "*"

[dev-packages]
black = "*"
mypy = "*"
types-pillow = "*"

[requires]
python_version = "3.10"

[scripts]
qa = "sh -c 'black --check . && mypy text_detection'"
format = "black ."
